<%- include("partials/header"); -%>
<div class="container">
    <h1 class="home-h1">Popular</h1>
    
    <img class="home-img"src="https://cdn.pixabay.com/photo/2018/04/06/23/22/notebook-3297317_1280.jpg" alt="">
    <p style="font-family: 'Lora', serif;"> <%= aboutContent %></p>
</div>
<%- include("partials/footer"); -%>




