

        <%  posts.forEach(function(post){ %>
            <div class="box">
        <div class="head1">
            <h3><%=post.username%></h1>
            </div >
            <hr>
            <div class="head2">
              <p>
                <%=post.comment + " ..."%>
                </p>
            
              <form action="/delete" method="post" >
                <button type="submit" name="checkbox" value="<%=post._id%>"  >DELETE</button>  
          </div>
            <hr>
          </div>
            <% }) %>


<% include("partials/footer") %> 