<!DOCTYPE html>
<html lang="en" dir="ltr" style=background-image:url()>

<head >
<meta charset="utf-8">
<title>Daily Journal</title>
<meta charset="utf-8">
<script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/styles.css">
  
 <nav class="navbar navbar-default">
   <div class="container">
     <div class="navbar-header">
       <p class="navbar-brand">DAILY JOURNAL</p>
     </div>
       <ul class="nav navbar-nav navbar-right">
         <li id="home"><a href="/">WELCOME</a></li>
         <li id="about"><a href="/about">POPULAR</a></li>
         <li id="contact"><a href="/contact">CONTACT US</a></li>
         <li id="login"><a href="/logout">LOGOUT</a></li>
         <li id="register"><a href="/register">REGISTER</a></li>
         
       </ul>
   </div>
 </nav>
 <div  class="container">
    <h1 class="home-h1">Compose</h1>
    <form class="" action="/compose-edit/<%=id%> " method="post">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle" value="<%=title%> ">
        <label >Post</label>
        <textarea class="form-control" name="postBody" rows="5" cols="30" ><%=content%></textarea>
      </div>
      <button class="btn btn-color"  name="button" >UPDATE</button>
    </form>
  </div>
    <script>
    
      // Replace the <textarea id="editor1"> with a CKEditor 4
      // instance, using default configuration.
      CKEDITOR.replace( 'postBody' );
  </script>
<%- include("partials/footer"); -%>
