<%- include("partials/header"); -%>
<link href="signin.css" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<img style="height:100%;width:100%;position: absolute;"  src="https://cdn.pixabay.com/photo/2020/11/09/15/12/trail-5726987_1280.jpg">

<div class="container" style="color:#1abc9c; text-align: center;">

  <div class="card card2" >
    <h1><i class="fas fa-user-lock"></i>  Register</h1>
       <form class="form-signin" action="/register"method="post">
        
     <!-- <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" name="username" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control"name="password" placeholder="Password" required>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <div>
        <button class="btn  btn-color btn-block" type="submit">Register</button>
        <button class="btn btn-danger btn-block" ><a href="/auth/google" style="text-decoration:none;color: white;"><i class="fab fa-google"></i>    Sign in with Google</a></button>
        
        <p class="mt-9 mb-3 text-muted " style="margin-top: 40px;">&copy; 2017-2020</p>
    </div>
      </form>
    </div> 

    </div>


