
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap" rel="stylesheet">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          
          <li id="about"><a href="/about">POPULAR</a></li>
          <li id="login"><a href="/login">LOGIN</a></li>
          <li id="register"><a href="/register">REGISTER</a></li>
        </ul>
    </div>
  </nav>

  <body>
    
    
        
<div style="height:600px;position: relative;">
  <div class="waveWrapper waveAnimation">
    <div class="waveWrapperInner bgTop">
      <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
    </div>
    <p classname="top"  style="color: white;
    position: relative;
    z-index: 90;
    font-family: 'Lora', serif;
    font-size: xx-large;
    text-align: center;margin-top: 10%;">Write when Inspiration strikes!!</p>
    <div class="waveWrapperInner bgMiddle">
      <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
    </div>
  </div>
</div>
  
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
      
</div>
<div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" >
  <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"  >
    <div class="row" style="display: flex;">
    <div class="card card1 col-lg-6" style="height:300px;width:300px;">
      <img src="https://cdn.pixabay.com/photo/2018/04/06/23/22/notebook-3297317_1280.jpg" alt="">
      </div>
    <div class="para col-lg-6  home-h1"  >
      <p>Write,sleep,repeat</p>

    </div>
  </div>
</div>
</div>
<div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
  <div class="card card1" style="height:300px;width:300px; ">
<img src="https://cdn.pixabay.com/photo/2015/09/05/07/28/writing-923882_1280.jpg" alt="">
  </div>
  </div>
  <div class="diagonal-box">
    <div id="content" style="display:flex"> 
    <img  class="mySlides   w3-animate-fading" style="border-top-left-radius: 30% !important; height:300px;
    border-bottom-right-radius: 30% !important;margin-left:-100px;"
    src="https://cdn.pixabay.com/photo/2017/01/20/00/30/maldives-1993704_1280.jpg">
    <img  class="mySlides     w3-animate-fading"     style="border-top-left-radius: 30% !important; height:300px;
    border-bottom-right-radius: 30% !important;margin-left:-100px;"    
     src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
    <p style="font-size: xx-large;font-weight: 100;padding-left: 30%;">Write</p>
       </div>
  </div>
</div>
<div class="container-fluid last">

</div>



<script>
  var slideIndex = 0;
  carousel();
  
  function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1} 
    x[slideIndex-1].style.display = "block"; 
    setTimeout(carousel, 2000); 
    
  }
  </script>
 



