<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right" style="display:flex">
          <li id="home"><a href="/">WELCOME</a></li>
        <li id="about"><a href="/about">POPULAR</a></li>
        <li id="public"><a href="/publicBlogs">BLOGS</a></li>
        <li id="home"><a href="/home">ME</a></li>
       
          <li id="login"><a href="/login">LOGIN</a></li>
          <li id="register"><a href="/register">REGISTER</a></li>
          
        </ul>
    </div>
  </nav>
  

  <body>
 
 


    <div style="height:600px;position: relative;">
  <div class="waveWrapper waveAnimation">
    <div class="waveWrapperInner bgTop">
      <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
    </div>
    <p class="top  "  data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"  >Write when Inspiration strikes!!</p>
    <div class="waveWrapperInner bgMiddle">
      <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
    </div>
  </div>
</div>
  
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
   

    <script>
        AOS.init();
      </script>
</div>


<div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" >
  <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"  >
    <div  >
    <div class="card card1 " style="height:300px;width:300px;margin-top: 200px;;">
      <img src="https://cdn.pixabay.com/photo/2018/04/06/23/22/notebook-3297317_1280.jpg" alt="">
      </div>
    <div class="para   home-h1"  >
      <h3>Write personal stories publish only if you want or use as personal journal!</h3>
      <span>Now get to it!!</span>
    </div>
  </div>
</div>
</div>
<div class="container" style="text-align: center;margin-top: 30px;">
  <span class="dotend"></span>
<span class="dot"></span>
<span class="dot"></span>
<span class="dot"></span>
<span class="dotend"></span>
</div>
<div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" >
  <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"  >
    <div  >
    <div class="card card1 " style="height:300px;width:300px;margin-top:30px;">
      <img src="https://www.itsmfusa.org/resource/resmgr/images/more_images/news-3.jpg" alt="">
      </div>
    <div class="para   home-h1"  >
      <h3>Get latest News</h3>
      <span>Go look for different categories </span>
    </div>
  </div>
</div>
</div>
<div class="container" style="text-align: center;margin-top: 30px;">
  <span class="dotend"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dotend"></span>
  </div>

    <div class="container-fluid secondlast">

      <img src="https://cdn.pixabay.com/photo/2018/03/19/18/20/tea-time-3240766_1280.jpg" alt="">
    </div>
    <div class="container" style="text-align: center;margin-top: 30px;">
      <span class="dotend"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dotend"></span>
      </div>

      <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" >
        <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"  >
          <div  >
       
            <img class="card card1 "  style="height:300px;width:300px;margin-top:100px;border-radius: 100%"  src="https://cdn.pixabay.com/photo/2015/01/15/11/06/success-600183_1280.jpg" alt="">
  
          <div class="para   home-h1"  >
            <span>Go explore </span>
          </div>
        </div>
      </div>
      </div>

<!-- </div> -->

<div class="container-fluid last">
  <h2 style="color:white;text-align:center">Contact</h2>
  <hr>
  <div class="container text-center">
    <a href="www.google.com"><i class="fas fa-envelope"  style="font-size:xx-large;"></i></a>
    <a href="www.facebook.com"><i class="fab fa-twitter"  style="font-size:xx-large;"></i></a>
    <a href="www.twitter.com"><i class="fab fa-facebook"  style="font-size:xx-large;"></i></a>
</div>
</div>

<%- include("partials/footer"); -%>

 



