<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right" style="display:flex">
          <li id="home"><a href="/">WELCOME</a></li>
        <li id="about"><a href="/about">POPULAR</a></li>
        <li id="public"><a href="/publicBlogs">BLOGS</a></li>
        <li id="home"><a href="/home">ME</a></li>
       
          <li id="login">
            <%if(log===true){%>
              <a href="/login"> LOGOUT</a><% }  else {%><a href="/login"> LOGIN</a> <% } %> 
          </a></li>
          <li id="register"><a href="/register">REGISTER</a></li>
          
        </ul>
    </div>
  </nav>
  

  <body>
 
 


    <div style="height:600px;position: relative;">
  <div class="waveWrapper waveAnimation">
    <div class="waveWrapperInner bgTop">
      <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
    </div>
    <p class="top  "  data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"  >Write when Inspiration strikes!!</p>
    <div class="waveWrapperInner bgMiddle">
      <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
    </div>
  </div>
</div>
  
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
   

    <script>
        AOS.init();
      </script>
</div>


<div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" >
    <div  class="row inner" >
    <div class="col-md-6"  >
      <h1 class="text">Personal Journal</h1>

    </div>
    <div class="  col-md-6"   style="height:300px;width:300px;">
      <img  class="notebook" style="border-radius: 10%;box-shadow:16px 12px 13px 2px #050f0ea6"  src="https://cdn.pixabay.com/photo/2018/04/06/23/22/notebook-3297317_1280.jpg" alt="">
      </div>
  </div>
</div>

<div class="container" style="text-align: center;margin-top: 30px;">
  <span class="dotend"></span>
<span class="dot"></span>
<span class="dot"></span>
<span class="dot"></span>
<span class="dotend"></span>
</div>


<div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" >
    <div class="row inner" >
    <div class="col-md-6" style="height:300px;width:300px;">
      <img  style="border-radius: 10%;box-shadow:-20px 10px 14px 5px #00000085"  src="https://www.itsmfusa.org/resource/resmgr/images/more_images/news-3.jpg" alt="">
      </div>
    <div class=" col-md-6"  >
      <h1 class="text">Get latest News</h1>
    </div>
</div>
</div>

<div class="container" style="text-align: center;margin-top: 30px;">
  <span class="dotend"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dotend"></span>
  </div>

    <!-- <div class="container-fluid secondlast"> -->
      <div>
        <div class="textOverImg" >
          <h2 class="text" style="color:rgb(49, 228, 174)">Journaling gives us peace of mind</h2>
          <p class="text1">Writing is the primary basis upon which history, communication, record keeping and art has begun. 
            Writing is a framework for our communication. So get set go!!</p>
        </div>
        <div>
      <img class="mySlides" src="https://cdn.pixabay.com/photo/2018/03/19/18/20/tea-time-3240766_1280.jpg" alt="">
      <img class="mySlides" src="https://cdn.pixabay.com/photo/2015/07/02/10/40/writing-828911_1280.jpg" alt="">
    </div>
    </div>




    <div class="container" style="text-align: center;margin-top: 30px;">
      <span class="dotend"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dotend"></span>
      </div>

      <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" >
          <div  class="row inner" >
            <div class="col-md-4">
            <img  style="height:300px;width:300px;border-radius: 100%"  src="https://cdn.pixabay.com/photo/2015/01/15/11/06/success-600183_1280.jpg" alt="">
          </div>
            <div class=" col-md-8"   >
            <h1 class="text2">Go explore </h1>
          </div>
        </div>
    
      </div>


<div class="container-fluid last">
  <h2 style="color:white;text-align:center;font-family:'Montserrat',sans-serif">Contact</h2>
  <hr>
  <div class="container text-center" >
    <a href="www.google.com"><i class="fas fa-envelope"  style="font-size:xx-large;"></i></a>
    <a href="www.facebook.com"><i class="fab fa-twitter"  style="font-size:xx-large;"></i></a>
    <a href="www.twitter.com"><i class="fab fa-facebook"  style="font-size:xx-large;"></i></a>
</div>
</div>



<script>
  var slideIndex = 0;
  carousel();
  
  function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1} 
    x[slideIndex-1].style.display = "block"; 
    setTimeout(carousel, 2000); 
    
  }
  </script>



<%- include("partials/footer"); -%>

 



