html {
  min-height: 100%;
  position: relative;
  font-family: 'Lora', serif;

}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: 'Lora', serif;
    position: relative;
    z-index: 30;

}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    position: relative;
    z-index: 30;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
  background-color: #1abc9c;
  z-index: 30;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
.btn-color{
  background-color: rgb(26, 188, 156);
  color:white;
  margin-bottom: 5%;
}
img{
  height:100%;
  width:100%;
  /* background-image:url('https://www.tenforums.com/geek/gars/images/2/types/thumb_15951118880user.png') */
}
.city{
  background-color: #1abc9c;
  opacity:0.35;
  height:300px;
  width:100%;
  position:absolute
}

.home-h1{
  margin-top:7%;
  font-family: 'Lora', serif;
}
.home-p{
  margin-top:3%;
  font-family: 'Lora', serif;
  line-height: 2;
  font-size: 500;
}
.post1{
  margin-bottom:8%;
  font-family: 'Lora', serif;
}

.card1 {
  box-shadow: 1px 2px 8px 4px  #80808026;
  border-radius: 10px;
  margin-left: 40%; 
  height: 500px;
  width:500px;
  padding: 3%;
  margin-top: 10%;
   background: white;
  position: relative;

}
 .card2{
  box-shadow: 1px 2px 8px 4px  grey;
  border-radius: 10px;
  margin-left: 30%;
  height: 500px;
  width:500px;
  padding: 3%;
  margin-top: 10%;
  background: whitesmoke;
  position: relative;
} 


.dot {
  height: 15px;
  width: 15px;
  background-color:#1ff3c9;
  border-radius: 50%;
  display: inline-flex;
  
}
.dotend{
  height: 7px;
  width: 7px;
  background-color:#1ff3c9;
  border-radius: 50%;
  display: inline-flex;
}

@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #58d1d1 20%, #387272 80%);
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}





.top{
  color: white;
  position: relative;
  z-index: 90;
  font-family: 'Montserrat', sans-serif;
  font-size: xx-large;
  text-align: center;
    margin-top: 10%;
}
.para{
  font-size: xx-large;
  font-family: 'Lora' serif;
  text-align: center;
   margin-top: 50px; 
}
.diag{
  border-bottom-right-radius: 20%;
  background-attachment: fixed;
  background-color: rgb(82, 12, 88);
}



/* .maldives{
border-top-left-radius: 30% !important;
  border-bottom-right-radius: 30% !important;
} */
.home{
  padding-left: 200px;
  font-family: 'Lora',serif;
  margin-top: 100px;
}
.home-img{
  height:400px;
  width: 100%;
}
.but{
  border-radius: 100%;
  box-shadow: 1px 2px 8px black;
  font-size:50px;

}
.box{
box-shadow:0px -1px 15px 2px #aca5a538;
border-radius: 10px;
margin-bottom: 40px;
height:300px;
padding-left:30px;
padding-top: 20px;
padding-bottom: 10px;
}

/* .head1{
background-color: azure;
box-shadow: 1px 2px 8px black;
border-radius: 10px;
} */
.head2{
 margin-top: 30px;
  }

  .profile-pic{
height:150px;
width:150px;
border-radius: 100%;
position: absolute;
margin-left: 780px;
margin-top:330px;
box-shadow: 1px 2px 20px green;
background-image:url('https://www.tenforums.com/geek/gars/images/2/types/thumb_15951118880user.png');
background-size:cover;
background-position: center;
  }
  .profile{
    position: absolute;
    color:white;
font-family: 'Lora';
    text-align: center;

  }
  .box:hover{
    background-color: white;
    cursor: pointer;
  }
  .post{
    font-size: x-large;
    font-family: 'Lora';
  }
  .fal{
    font-size: xx-large;
    margin-bottom:20px;
    margin-left:50px;
    font-weight:100;
  }
  .profile{
    text-align:center;
    margin-top: 10%;
    margin-left: 40%;
  }

  .last{
    margin-top: 100px;
    background-color:#1b3636;
    height: 500px;
    width:100%px
  }
  .secondlast{
    margin-top: 50px;
    background-color:#387272;
    height: 500px;
    width:100%;
  }

  /* .notebook{
    height:200px;
    width:200px
  } */

  .text{
    margin-top:100px;
    margin-left: 200px;
    font-family: 'Montserrat', sans-serif;
    color:#387272
  }



    .mySlides{
      margin-top:50px;
      margin-bottom:50px;
      height:600px;
      width:1699px
    }

.textOverImg{
  position: absolute;
  height:600px;
  width:800px;
  margin-left:900px;
  background-color:rgba(19, 48, 40, 0.726);
}
/* .text{

} */

.text1{
      margin-left: 150px;
    margin-right: 100px;
    font-size: x-large;
    text-align: center;
    color:white;
    font-family: 'Montserrat',sans-serif;
    margin-top:40px
}
.text2{
  font-family: 'Montserrat',sans-serif;
  color: #387272;
  margin-top: 100px;
}

.inner{
  margin-left:300px !important;
  margin-top:50px !important
}
/* .popular-img{
  height:,
  width:,
} */
/* .newsImg{
  height:200px;
  width:200px;
  border-radius: 20px;
} */
.far{
  font-size: 50px;
    margin-top: 400px;
    margin-left: 40px;
    position: absolute;
    color: #37e7c4 !important;
    font-weight: 100;
}
a{
  color: #1ABC9C ;
}
.fa-arrow-circle-left{
  font-size: 80px;
  margin-left:30px;
}

.name{
background-color: whitesmoke;
}
.email{
  background-color:#bbfdf0 ;
}
.fa-trash{
color:rgb(190, 69, 53);
font-size:40px;

}
.fa-edit{
  font-size:40px;
}
.fa-trash:hover{
  color:rgb(134, 31, 31);
}